---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Jericho Bantiquete">
			<h1 class='font-bold text-xl'>
            Get to know me
			</h1>
			<p class='dark:text-gray-200 text-gray-700'>Jericho Bantiquete</p>

			<div class='leading-snug space-y-4 text-gray-800 dark:text-gray-200 pt-8'>
			<p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae laborum perspiciatis iure consectetur hic impedit consequuntur suscipit laboriosam! Doloribus voluptas maiores odit illo id aspernatur eveniet incidunt aut, omnis obcaecati accusantium quo eos qui perferendis architecto adipisci odio consectetur. Repudiandae, illum ipsa obcaecati magnam et maiores dolorem adipisci ipsum!
			</p>
			<p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eaque a perspiciatis reiciendis, dolore libero aperiam praesentium pariatur nostrum molestiae natus iste dolores nemo, doloremque reprehenderit aliquam quasi assumenda maiores?
			</p>
			<p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea pariatur voluptatum sequi quis doloribus.
			</p>
			</div>
			<div class="flex items-center gap-4 mt-8">
				<a target='_blank' href="https://github.com/monciego" class='underline hover:text-zinc-300'>github</a>
				<a target="_blank" href="https://twitter.com/monciego" class='underline hover:text-zinc-300'>x (formerly twitter)</a>
				<a target="_blank" href="https://www.linkedin.com/in/jericho-bantiquete/" class='underline hover:text-zinc-300'>linkedin</a>
			</div>
</Layout>