---
import ParagraphContainer from "../components/ParagraphContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jericho Bantiquete">
  <SectionHeader
    title="Gallery (ギャラリー)"
    description="A collection of my personal photos."
  />

  <ParagraphContainer>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, cumque,
      aperiam reprehenderit sequi illum sapiente nemo deleniti facere amet
      maxime asperiores modi officiis beatae obcaecati atque illo consequatur,
      libero ipsum! Labore, cum!
    </p>
  </ParagraphContainer>
</Layout>
