---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jericho Bantiquete">
			<div>
			<h1 class='font-bold text-2xl'>
				Jericho Bantiquete
			</h1>
			<p>Software engineer</p>
			</div>
			<div class='leading-snug space-y-4 text-gray-200 pt-8'>
			<p>
				I'm a frontend developer, optimist, and community builder. I work at Vercel, where I teach the Next.js community, an open-source web framework built with React.
			</p>
			<p>
				I create educational content for developers, teaching them about TypeScript, React and Next.js, and more. I've worked with and advised companies on developer marketing, developer relations, building developer tools, and open-source.
			</p>
			<p>
				I invest small angel checks into early stage startups building tools for developers.
			</p>
			</div>
			<div class="flex items-center gap-4 mt-8">
				<a target='_blank' href="https://github.com/monciego" class='underline hover:text-zinc-300'>github</a>
				<a target="_blank" href="https://twitter.com/monciego" class='underline hover:text-zinc-300'>x (formerly twitter)</a>
				<a target="_blank" href="https://www.linkedin.com/in/jericho-bantiquete/" class='underline hover:text-zinc-300'>linkedin</a>
			</div>
</Layout>
