---
import ParagraphContainer from "../components/ParagraphContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jericho Bantiquete">
  <SectionHeader title="Jericho Bantiquete" description="Software Engineer" />
  <ParagraphContainer>
    <p>
      I'm a frontend developer, optimist, and community builder. I work at
      Vercel, where I teach the Next.js community, an open-source web framework
      built with React.
    </p>
    <p>
      I create educational content for developers, teaching them about
      TypeScript, React and Next.js, and more. I've worked with and advised
      companies on developer marketing, developer relations, building developer
      tools, and open-source.
    </p>
    <p>
      I invest small angel checks into early stage startups building tools for
      developers.
    </p>
  </ParagraphContainer>
</Layout>
