---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jericho Bantiquete">
  <div>
    <h1 class="text-xl font-bold">Jericho Bantiquete</h1>
    <p class="text-gray-700 dark:text-gray-200">Software Engineer</p>
  </div>
  <div class="space-y-4 pt-8 leading-snug text-gray-800 dark:text-gray-200">
    <p>
      I'm a frontend developer, optimist, and community builder. I work at
      Vercel, where I teach the Next.js community, an open-source web framework
      built with React.
    </p>
    <p>
      I create educational content for developers, teaching them about
      TypeScript, React and Next.js, and more. I've worked with and advised
      companies on developer marketing, developer relations, building developer
      tools, and open-source.
    </p>
    <p>
      I invest small angel checks into early stage startups building tools for
      developers.
    </p>
  </div>
  <div class="mt-8 flex items-center gap-4">
    <a
      target="_blank"
      href="https://github.com/monciego"
      class="underline hover:text-zinc-300">github</a
    >
    <a
      target="_blank"
      href="https://twitter.com/monciego"
      class="underline hover:text-zinc-300">x (formerly twitter)</a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/jericho-bantiquete/"
      class="underline hover:text-zinc-300">linkedin</a
    >
  </div>
</Layout>
