---
import Experience from "../components/Experience.astro";
import ParagraphContainer from "../components/ParagraphContainer.astro";
import Project from "../components/Project.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
const allProjects = await Astro.glob("./projects/*.md");
---

<Layout title="Jericho Bantiquete">
  <SectionHeader
    title="Work (仕事)"
    description="My projects and experience."
  />

  <ParagraphContainer>
    <p>
      An overview of my work <a href="#experience" class="hover:underline"
        >experience</a
      > and a selection of recent <a class="hover:underline" href="#projects"
        >projects</a
      >.
    </p>
  </ParagraphContainer>

  <section class="my-6" id="experience">
    <h3 class="mb-3 text-lg font-bold">Experience</h3>
    <div class="space-y-3">
      <Experience
        company="Techniqal Group"
        position="Co-owner & Software Engineer"
        startDate="Mar 2022"
        endDate="Present"
        responsibilities={[
          "Design and develop the product architecture and features.",
        ]}
      />
      <Experience
        company="Freelance Web Developer"
        position="Developer"
        startDate="Feb 2022"
        endDate="Present"
        responsibilities={[
          "Giving assistance in system development for those in their bachelor's or master's degree.",
          "Developed government websites, ensuring user-friendly interfaces and robust functionalities for seamless public interaction.",
        ]}
      />
      <Experience
        company="Massive Integrated Tech Solutions Inc."
        position="Software Engineer"
        startDate="Jan 2024"
        endDate="Feb 2024"
        responsibilities={[
          "Developed web applications and software solutions, ensuring high performance, responsiveness, and user-friendly design. (NDA signed)",
        ]}
      />
      <Experience
        company="FFUF Manila Inc."
        position="Frontend Developer Intern"
        startDate="Mar 2022"
        endDate="Jun 2022"
        responsibilities={[
          "Assist build front end web applications using Angular, RxJS and Akita.",
          "Implement front-end features in line with best practices.",
          "Experienced Scrum professionals drive sprint planning, daily standups, and backlog refinement for efficient and effective project execution.",
        ]}
      />
    </div>
  </section>

  <section id="projects">
    <h3 class="text-lg font-bold">Projects</h3>
    <p class="mt-2 text-sm">
      Selected projects I've worked on recently. <a
        class="underline"
        target="_blank"
        href="https://github.com/monciego"
      >
        Want to see more?
      </a>
    </p>

    <div class="space-y-3 pt-4">
      {allProjects.map((project) => <Project {project} />)}
    </div>
  </section>
</Layout>
