---
import ParagraphContainer from "../components/ParagraphContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jericho Bantiquete">
  <SectionHeader title="Work" description="My projects and experience." />

  <ParagraphContainer>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae
      laborum perspiciatis iure consectetur hic impedit consequuntur suscipit
      laboriosam! Doloribus voluptas maiores odit illo id aspernatur eveniet
      incidunt aut, omnis obcaecati accusantium quo eos qui perferendis
      architecto adipisci odio consectetur. Repudiandae, illum ipsa obcaecati
      magnam et maiores dolorem adipisci ipsum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eaque a
      perspiciatis reiciendis, dolore libero aperiam praesentium pariatur
      nostrum molestiae natus iste dolores nemo, doloremque reprehenderit
      aliquam quasi assumenda maiores?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea pariatur
      voluptatum sequi quis doloribus.
    </p>
  </ParagraphContainer>
</Layout>
