---
import "@fontsource/chivo-mono"

---

<header>
    <a href="" class='logo'>
    <span>monciego</span>
    </a>

    <nav>
    <button class='btn-menu'>
        menu
    </button>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Testimonials</a>
            </li>
        </ul>
    </nav>
</header>

<script>
    const mobileBtn = document.querySelector(".btn-menu")
    const nav = document.querySelector("nav ul")

    mobileBtn.addEventListener("click", () => {
        nav.classList.toggle('active')
    })
</script>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2.6125rem;
        border-bottom: 1px solid rgba(211, 211, 211, 0.5 );
    }

    .logo {
		font-family: "Chivo Mono", monospace;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        display: flex;
    }


    .btn-menu {
        display: block;
    }

    nav ul li a {
		font-family: "Chivo Mono", monospace;
        text-transform: lowercase;
        color: #cecece;
    }

    nav ul li a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }

    @media all and (min-width: 48rem) {
        nav ul {
            display: flex;
            align-items: center;
        }

        nav ul > * + * {
            margin-left: 1.25rem;
        }

        .btn-menu {
            display: none;
        }
    }
</style>
