---
const { post } = Astro.props;
---

<div class="flex items-center gap-6 text-sm sm:gap-8 sm:text-base">
  <p class="text-gray-700 dark:text-gray-300">
    {post.frontmatter.publishedDate.toString().slice(0, 10)}
  </p>
  <a href={post.url} class="underline">
    {post.frontmatter.title}
  </a>
</div>
